* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  overflow-x: hidden;
  background-color: #121212 !important;
}

.banner{
  margin-top: 0;
  background: radial-gradient(circle, rgba(122,47,179,1) 0%, rgba(23,2,61,1) 100%);
  background-repeat: no-repeat;
}

#banner{
  animation-duration: 3s;
}
